### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# List the column headers
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [3]:
# Variable to count all purchases by Purchase ID
purchase_count = purchase_data["Purchase ID"].count()
purchase_count

780

In [4]:
# Variable to count of unique values in "SN" i.e. "Screen Name"
player_count = purchase_data["SN"].value_counts()
player_count = player_count.count()
player_count

576

In [5]:
# DataFrame for player_count
players_df = pd.DataFrame({
    "Total Players": [player_count]
})
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Variable to count unique values in "Item ID" i.e. the number of games 
item_count = purchase_data["Item ID"].value_counts()
item_count = item_count.count()
item_count

179

In [7]:
# Variable to calculate the average price per purchase
avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [8]:
# Variable to calculate total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [9]:
# Data Frame for summary of above calculations 
summary_df = pd.DataFrame({
    "Number of Unique Items":[item_count],
    "Purchase (avg)":[avg_price],
    "Purchase (count)":[purchase_count],
    "Total Revenue":[total_revenue]
})

In [10]:
# Format the summary_df to currency
summary_df.style.format({
    "Purchase (avg)":"${:.2f}",
    "Total Revenue":"${:.2f}"
})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
# Group by Gender
gender_group = purchase_data.groupby("Gender")
gender_group

In [12]:
# Variable to count players by "Gender" 
# function to count unique items by group, i.e. nunique() found here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html 
# also found here: https://stackoverflow.com/questions/38309729/count-unique-values-with-pandas-per-groups
gender_count = gender_group.nunique()["SN"]
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [13]:
# Variable for percentage of players
pct_players = gender_count/gender_count.sum()
pct_players

Gender
Female                   0.140625
Male                     0.840278
Other / Non-Disclosed    0.019097
Name: SN, dtype: float64

In [14]:
# DataFrame for gender count and percentage of players
gender_df = pd.DataFrame({
    "Total Count": gender_count,
    "Percentage of Players": pct_players
})

In [15]:
# Sort Gender by Total Count, in descending order
gender_df = gender_df.sort_values("Total Count", ascending=False)

In [16]:
# Format pct_players to percentage
gender_df.style.format({"Percentage of Players":"{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
# Recall variable for purchase_count and calculate by gender_group
purchase_count = gender_group["Purchase ID"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [18]:
# Recall variable for avg_price and calculate by gender_group
avg_price = gender_group["Price"].mean()
avg_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [19]:
# Recall variable for total_revenue and calculate by gender_group
total_revenue = gender_group["Price"].sum()
total_revenue

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [20]:
# Create variable for avg_player_purchase using total_revenue and gender_count (distinct players)
avg_player_purchase = total_revenue/gender_count
avg_player_purchase

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [21]:
# DataFrame to summarize purchases analysis
purchase_df = pd.DataFrame({
    "Purchase (count)": purchase_count,
    "Purchase (avg)": avg_price,
    "Purchase (total)": total_revenue,
    "Purchase (avg per player)": avg_player_purchase
})

In [22]:
# Format to currency
purchase_df.style.format({
    "Purchase (avg)":"${:,.2f}",
    "Purchase (total)":"${:,.2f}",
    "Purchase (avg per player)":"${:,.2f}"
                         })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
# Minimum Age
min_age = purchase_data["Age"].min()
min_age

7

In [24]:
# Maximium Age
max_age = purchase_data["Age"].max()
max_age

45

In [25]:
# Set up bins
age_bins = [min_age-1,9,14,19,24,29,34,39,max_age]
age_bins

[6, 9, 14, 19, 24, 29, 34, 39, 45]

In [26]:
# Create labels for bins
age_bin_labels = [" 0 < 10","10 - 14","15 - 19","20 - 24","25 - 29","30 - 34","35 - 39","40 +"]
age_bin_labels

[' 0 < 10',
 '10 - 14',
 '15 - 19',
 '20 - 24',
 '25 - 29',
 '30 - 34',
 '35 - 39',
 '40 +']

In [27]:
# Series to slice the data (pd.cut) and place it into bins
pd.cut(purchase_data["Age"], age_bins, labels=age_bin_labels).head()

0    20 - 24
1       40 +
2    20 - 24
3    20 - 24
4    20 - 24
Name: Age, dtype: category
Categories (8, object): [0 < 10 < 10 - 14 < 15 - 19 < 20 - 24 < 25 - 29 < 30 - 34 < 35 - 39 < 40 +]

In [28]:
# Place series into a new column inside purchase_data (DataFrame)
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_bin_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 - 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40 +
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 - 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 - 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 - 24

In [29]:
# Group by Age
age_group = purchase_data.groupby("Age Group")
age_group

In [30]:
# Create variable to count unique players by age_group
age_count = age_group.nunique()["SN"] #had to go back and fix bin limit for less than 10 to 9
age_count

Age Group
 0 < 10     17
10 - 14     22
15 - 19    107
20 - 24    258
25 - 29     77
30 - 34     52
35 - 39     31
40 +        12
Name: SN, dtype: int64

In [31]:
# Create variable to calculate percentage of total unique players
pct_players = age_count/player_count
pct_players

Age Group
 0 < 10    0.029514
10 - 14    0.038194
15 - 19    0.185764
20 - 24    0.447917
25 - 29    0.133681
30 - 34    0.090278
35 - 39    0.053819
40 +       0.020833
Name: SN, dtype: float64

In [32]:
# DataFrame for 
age_df = pd.DataFrame({
    "Total Count": age_count,
    "Percentage of Players": pct_players
})

In [33]:
# Format to percentage
age_df.style.format({"Percentage of Players":"{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
# Recall variable for purchase_count and calculate by age_group
purchase_count = age_group["Purchase ID"].count()
purchase_count

Age Group
 0 < 10     23
10 - 14     28
15 - 19    136
20 - 24    365
25 - 29    101
30 - 34     73
35 - 39     41
40 +        13
Name: Purchase ID, dtype: int64

In [35]:
# Recall variable for avg_price and calculate by age_group
avg_price = age_group["Price"].mean()
avg_price

Age Group
 0 < 10    3.353478
10 - 14    2.956429
15 - 19    3.035956
20 - 24    3.052219
25 - 29    2.900990
30 - 34    2.931507
35 - 39    3.601707
40 +       2.941538
Name: Price, dtype: float64

In [36]:
# Recall variable for total_revenue and calculate by age_group
total_revenue = age_group["Price"].sum()
total_revenue

Age Group
 0 < 10      77.13
10 - 14      82.78
15 - 19     412.89
20 - 24    1114.06
25 - 29     293.00
30 - 34     214.00
35 - 39     147.67
40 +         38.24
Name: Price, dtype: float64

In [37]:
# Recall variable for avg_purchase and calculate by age_group
avg_purchase = total_revenue/age_count
avg_purchase

Age Group
 0 < 10    4.537059
10 - 14    3.762727
15 - 19    3.858785
20 - 24    4.318062
25 - 29    3.805195
30 - 34    4.115385
35 - 39    4.763548
40 +       3.186667
dtype: float64

In [38]:
# DataFrame for age bins
age_df = pd.DataFrame({
    "Purchase (count)": purchase_count,
    "Purchase (avg)": avg_price,
    "Purchase (total)": total_revenue,
    "Purchase (avg per Age Group)": avg_purchase
})

In [39]:
# Format to currency
age_df.style.format({
    "Purchase (avg)":"${:,.2f}",
    "Purchase (total)":"${:,.2f}",
    "Purchase (avg per Age Group)":"${:,.2f}"
                         })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [40]:
# 1. GroupBy unique players i.e. "SN"
player_group = purchase_data.groupby("SN")
player_group

In [41]:
# Recall purchase_count and calculate by player_group
purchase_count = player_group["Purchase ID"]
purchase_count = purchase_count.count()

In [42]:
# Recall avg_price and calculate by player_group
avg_price = player_group["Price"].mean()

In [43]:
# Recall total_revenue and calculate by player_group
total_revenue = player_group["Price"].sum()

In [44]:
# Recall avg_purchase and calculate by player_group
avg_purchase = total_revenue/player_count

In [45]:
# Create DataFrame for players_df
players_df = pd.DataFrame({
    "Purchase (count)": purchase_count,
    "Purchase (avg)": avg_price,
    "Purchase (total)": total_revenue,
})

# Sort from most to least
players_df = players_df.sort_values("Purchase (total)", ascending=False)

In [46]:
# Limit to the top 5 players by purchase total
top_5 = players_df.head(5)

In [47]:
# Format columns to currency
top_5.style.format({
    "Purchase (avg)":"${:,.2f}",
    "Purchase (total)":"${:,.2f}"
})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [48]:
# List the column headers
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Group'],
      dtype='object')

In [49]:
# Create item_group from purchase_data using Item ID and Item Name
item_group = purchase_data.groupby(["Item ID","Item Name"])
item_group

In [50]:
# Recall purchase_count and calculate by player_group
purchase_count = item_group["Purchase ID"]
purchase_count = purchase_count.count()

# Recall avg_price and calculate by player_group
item_price = item_group["Price"].mean()

# Recall total_revenue and calculate by player_group
total_revenue = purchase_count*item_price

In [51]:
# Create DataFrame for items_df
items_df = pd.DataFrame({
    "Purchase (count)": purchase_count,
    "Item Price": item_price,
    "Purchase (total)": total_revenue,
})

In [52]:
# Sort from most to least by purchase_count
items_df = items_df.sort_values("Purchase (count)", ascending=False)

In [53]:
# List the top 5 players by purchase count
top_5 = items_df.head(5)

In [54]:
# Format columns to currency
top_5.style.format({
    "Purchase (count)":"{:,.0f}",
    "Item Price":"${:,.2f}",
    "Purchase (total)":"${:,.2f}"
})
# Lookup how to make Item Name bold and align the header rows, etc.

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [55]:
# # Sort from most to least
items_df = items_df.sort_values("Purchase (total)", ascending=False)

In [56]:
# Top 5 players by purchase total
top_5 = items_df.head(5)

In [57]:
# Format columns to currency
top_5.style.format({
    "Purchase (count)":"{:,.0f}",
    "Item Price":"${:,.2f}",
    "Purchase (total)":"${:,.2f}"
})
# Lookup how to make Item Name bold and align the header rows, etc.(?)