In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# ****************
# Purchases
# ****************

purchases = len(purchase_data['Purchase ID'].unique())
players = len(purchase_data['SN'].unique())
games = len(purchase_data['Item ID'].unique())
price = purchase_data['Price'].mean()
revenue = purchase_data['Price'].sum()

summary_df = pd.DataFrame({
    "Purchase (count)":[purchases],
    "Player (count)":[players],
    "Game (count)":[games],
    "Revenue (total $)":[revenue],
    "Price (avg $)":[price]
})
summary_df = summary_df.style.format({'Revenue (total $)':"${:.2f}", 'Price (avg $)':"${:.2f}"})
summary_df

In [3]:
# ****************
# Purchases by age
# ****************

min_age = purchase_data["Age"].min()
max_age = purchase_data["Age"].max()

# Set up bins
age_bins = [min_age-1,9,14,19,24,29,34,39,max_age]

# Create labels for bins
age_bin_labels = [" 0 < 10","10 - 14","15 - 19","20 - 24","25 - 29","30 - 34","35 - 39","40 +"]

# ************ pd.cut
purchase_data['age'] = pd.cut(purchase_data["Age"], age_bins, labels=age_bin_labels)
purchase_data

count = purchase_data.groupby(['age']).agg({'Purchase ID': 'count'})
count_df = pd.DataFrame(count)
count_df

price = purchase_data.groupby('age').agg({'Price': 'mean'})
price_df = pd.DataFrame(price)
price_df

merged = count_df.merge(price_df, how='left', on='age')
age_df = pd.DataFrame(merged)
age_df

revenue = purchase_data.groupby('age').agg({'Price': 'sum'})
revenue_df = pd.DataFrame(revenue).rename(columns={'Price':'Revenue'})
revenue_df

age_df = age_df.merge(revenue_df, how='left', on='age')
age_df = age_df.style.format({'Price':"${:.2f}", 'Revenue':"${:.2f}"})
age_df

In [4]:
# ****************
# Purchase stats by gender
# ****************
count = purchase_data.groupby(['Gender']).agg({'Purchase ID': 'count'})
count_df = pd.DataFrame(count).sort_values('Purchase ID', ascending=False).rename(columns={'Purchase ID':'Count'}).head()
count_df

price = purchase_data.groupby('Gender').agg({'Price': 'mean'})
price_df = pd.DataFrame(price).rename(columns={'Price':'Price'})
price_df

merged = count_df.merge(price_df, how='left', on='Gender')
players_df = pd.DataFrame(merged)
players_df.style.format({'Price':"${:.2f}", 'Revenue':"${:.2f}"})

revenue = purchase_data.groupby('Gender').agg({'Price': 'sum'})
revenue_df = pd.DataFrame(revenue).rename(columns={'Price':'Revenue'})
revenue_df

players_df = players_df.merge(revenue_df, how='left', on='Gender').head()
players_df = players_df.style.format({'Price':"${:.2f}", 'Revenue':"${:.2f}"})
players_df

In [5]:
# ****************
# Top player purchases by revenue
# ****************
revenue= purchase_data.groupby(['Gender']).agg({'Purchase ID': 'count'})
revenue_df = pd.DataFrame(revenue).sort_values('Purchase ID', ascending=False).rename(columns={'Purchase ID':'Count'}).head()
revenue_df

price = purchase_data.groupby('Gender').agg({'Price': 'mean'})
price_df = pd.DataFrame(price).rename(columns={'Price':'Price'})
price_df

merged = revenue_df.merge(price_df, how='left', on='Gender')
players_df = pd.DataFrame(merged)
players_df.style.format({'Price':"${:.2f}", 'Revenue':"${:.2f}"})

revenue = purchase_data.groupby('Gender').agg({'Price': 'sum'})
revenue_df = pd.DataFrame(revenue).rename(columns={'Price':'Revenue'})
revenue_df

players_df = players_df.merge(revenue_df, how='left', on='Gender').head()
players_df = players_df.style.format({'Price':"${:.2f}", 'Revenue':"${:.2f}"})
players_df

In [6]:
# ****************
# Top player purchases by count
# ****************
count = purchase_data.groupby(['SN']).agg({'Purchase ID': 'count'})
count_df = pd.DataFrame(count).sort_values('Purchase ID', ascending=False).rename(columns={'Purchase ID':'Count'}).head()
count_df

price = purchase_data.groupby('SN').agg({'Price': 'mean'})
price_df = pd.DataFrame(price).rename(columns={'Price':'Price'})
price_df

merged = count_df.merge(price_df, how='left', on='SN')
players_df = pd.DataFrame(merged)
players_df.style.format({'Price':"${:.2f}", 'Revenue':"${:.2f}"})

revenue = purchase_data.groupby('SN').agg({'Price': 'sum'})
revenue_df = pd.DataFrame(revenue).rename(columns={'Price':'Revenue'})
revenue_df

players_df = players_df.merge(revenue_df, how='left', on='SN').head()
players_df = players_df.style.format({'Price':"${:.2f}", 'Revenue':"${:.2f}"})
players_df

In [7]:
# ****************
# Top player purchases by revenue
# ****************
revenue= purchase_data.groupby(['SN']).agg({'Purchase ID': 'count'})
revenue_df = pd.DataFrame(revenue).sort_values('Purchase ID', ascending=False).rename(columns={'Purchase ID':'Count'}).head()
revenue_df

price = purchase_data.groupby('SN').agg({'Price': 'mean'})
price_df = pd.DataFrame(price).rename(columns={'Price':'Price'})
price_df

merged = revenue_df.merge(price_df, how='left', on='SN')
players_df = pd.DataFrame(merged)
players_df.style.format({'Price':"${:.2f}", 'Revenue':"${:.2f}"})

revenue = purchase_data.groupby('SN').agg({'Price': 'sum'})
revenue_df = pd.DataFrame(revenue).rename(columns={'Price':'Revenue'})
revenue_df

players_df = players_df.merge(revenue_df, how='left', on='SN').head()
players_df = players_df.style.format({'Price':"${:.2f}", 'Revenue':"${:.2f}"})
players_df

In [8]:
# ****************
# Top game purchases by count
# ****************
count = purchase_data.groupby(['Item Name']).agg({'Purchase ID': 'count'})
count_df = pd.DataFrame(count).sort_values('Purchase ID', ascending=False).rename(columns={'Purchase ID':'Count'}).head()
count_df

price = purchase_data.groupby('Item Name').agg({'Price': 'mean'})
price_df = pd.DataFrame(price).rename(columns={'Price':'Price'})
price_df

merged = count_df.merge(price_df, how='left', on='Item Name')
players_df = pd.DataFrame(merged)
players_df.style.format({'Price':"${:.2f}", 'Revenue':"${:.2f}"})

revenue = purchase_data.groupby('Item Name').agg({'Price': 'sum'})
revenue_df = pd.DataFrame(revenue).rename(columns={'Price':'Revenue'})
revenue_df

players_df = players_df.merge(revenue_df, how='left', on='Item Name').head()
players_df = players_df.style.format({'Price':"${:.2f}", 'Revenue':"${:.2f}"})
players_df

In [9]:
# ****************
# Top game purchases by revenue
# ****************
revenue = purchase_data.groupby(['Item Name']).agg({'Price': 'sum'})
revenue_df = pd.DataFrame(revenue).sort_values('Price', ascending=False).head()
revenue_df = revenue_df.style.format({'Price':"${:.2f}"})
revenue_df

price = purchase_data.groupby('Item Name').agg({'Price': 'mean'})
price_df = pd.DataFrame(price).rename(columns={'Price':'Price'})
price_df

merged = count_df.merge(price_df, how='left', on='Item Name')
players_df = pd.DataFrame(merged)
players_df.style.format({'Price':"${:.2f}", 'Revenue':"${:.2f}"})

revenue = purchase_data.groupby('Item Name').agg({'Price': 'sum'})
revenue_df = pd.DataFrame(revenue).rename(columns={'Price':'Revenue'})
revenue_df

merged = players_df.merge(revenue_df, how='left', on='Item Name').head()
players_df = players_df.style.format({'Price':"${:.2f}", 'Revenue':"${:.2f}"})
players_df