### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# List the column headers
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [3]:
# Identify incomplete rows (all item counts are the same, no missing data)
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [4]:
# Check data types
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [5]:
# Count of unique values in "SN" i.e. "Screen Name"
player_count = purchase_data["SN"].value_counts()
player_count = player_count.count()
player_count

576

In [6]:
# DataFrame for players
players_df = pd. DataFrame({
    "Total Players": [player_count]
})
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Count of unique games
item_count = purchase_data["Item ID"].value_counts()
item_count = item_count.count()
item_count

179

In [8]:
# Average price per purchase
avg_price = purchase_data["Price"].mean()

# Format to currency
avg_price = round(avg_price,2)
avg_price

3.05

In [9]:
# Number of purchases
purchase_count = purchase_data["Purchase ID"].value_counts()
purchase_count  = purchase_count.count()
purchase_count

780

In [10]:
# Total Revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [11]:
# Data Frame for summary of above calculations 
summary_df = pd.DataFrame({
    "Number of Unique Items":[item_count],
    "Purchase (avg)":[avg_price], # HOW DO I FORMAT AVERAGE PRICE TO $0.00?
    "Purchase (count)":[purchase_count],
    "Total Revenue":[total_revenue]
})
summary_df

   Number of Unique Items  Purchase (avg)  Purchase (count)  Total Revenue
0                     179            3.05               780        2379.77

In [12]:
# Format the summary_df to currency
summary_df.style.format({
    "Purchase (avg)":"${:.2f}",
    "Total Revenue":"${:.2f}"
})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:
# Group by "Gender"
gender_group = purchase_data.groupby("Gender")
gender_group

In [14]:
# Player count (i.e "SN") by "Gender" 
# function to count unique items by group, "nunique()"" found https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html 
# https://stackoverflow.com/questions/38309729/count-unique-values-with-pandas-per-groups
gender_count = gender_group.nunique()["SN"]
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [15]:
# Create a Data Frame of gender count and percentage of players
gender_df = pd.DataFrame({
    "Total Count": gender_count,
    "Percentage of Players": gender_count/gender_count.sum()
})
gender_df

                       Total Count  Percentage of Players
Gender
Female                          81               0.140625
Male                           484               0.840278
Other / Non-Disclosed           11               0.019097

In [16]:
# Sort by Total Count, in descending order
gender_df = gender_df.sort_values("Total Count", ascending=False)
gender_df

                       Total Count  Percentage of Players
Gender
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [17]:
# Format to percentage
gender_df.style.format({"Percentage of Players":"{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
# Recall variable for purchase_count and calculate by gender_group
purchase_count = gender_group["Purchase ID"]
purchase_count = purchase_count.count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [19]:
# Create variable to count unique players by gender_group
gender_count = gender_group.nunique()["SN"] 
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [20]:
# Recall variable for total_revenue and calculate by gender_group
total_revenue = gender_group["Price"].sum()
total_revenue

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [21]:
# Create variable for avg_player_purchase using total_revenue and gender_count (distinct players)
avg_player_purchase = total_revenue/gender_count
avg_player_purchase

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [22]:
# Create a data to summarize purchases analysis
purchase_df = pd.DataFrame({
    "Purchase (count)": purchase_count,
    "Purchase (avg)": avg_price,
    "Purchase (total)": total_revenue,
    "Purchase (avg per player)": avg_player_purchase
})
purchase_df

,Purchase (count),Purchase (avg),Purchase (total),Purchase (avg per player)
Gender,,,,
Female,113,3.05,361.94,4.468395
Male,652,3.05,1967.64,4.065372
Other / Non-Disclosed,15,3.05,50.19,4.562727

In [23]:
# Format to currency
purchase_df.style.format({
    "Purchase (avg)":"${:,.2f}",
    "Purchase (total)":"${:,.2f}",
    "Purchase (avg per player)":"${:,.2f}"
                         })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
# Minimum Age
min_age = purchase_data["Age"].min()
min_age

7

In [25]:
# Maximium Age
max_age = purchase_data["Age"].max()
max_age

45

In [26]:
# Set up bins
bins = [0,9,14,19,24,29,34,39,max_age]
bins

[0, 9, 14, 19, 24, 29, 34, 39, 45]

In [27]:
# Create labels for bins
bin_labels = [" 0 < 10","10 - 14","15 - 19","20 - 24","25 - 29","30 - 34","35 - 39","40 +"]
bin_labels

[' 0 < 10',
 '10 - 14',
 '15 - 19',
 '20 - 24',
 '25 - 29',
 '30 - 34',
 '35 - 39',
 '40 +']

In [28]:
# Slice the data (pd.cut) and place it into bins
pd.cut(purchase_data["Age"], bins, labels=bin_labels).head()

0    20 - 24
1       40 +
2    20 - 24
3    20 - 24
4    20 - 24
Name: Age, dtype: category
Categories (8, object): [0 < 10 < 10 - 14 < 15 - 19 < 20 - 24 < 25 - 29 < 30 - 34 < 35 - 39 < 40 +]

In [29]:
# Place series into a new column inside purchase_data (DataFrame)
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=bin_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 - 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40 +
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 - 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 - 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 - 24

In [30]:
# Create a GroupBy object for "Age"
age_group = purchase_data.groupby("Age Group")
age_group

In [31]:
# Create variable to count unique players by age_group
age_count = age_group.nunique()["SN"] #had to go back and fix bin limits
age_count

Age Group
 0 < 10     17
10 - 14     22
15 - 19    107
20 - 24    258
25 - 29     77
30 - 34     52
35 - 39     31
40 +        12
Name: SN, dtype: int64

In [32]:
# Create variable to calculate percentage of total unique players
pct_players = age_count/player_count
pct_players

Age Group
 0 < 10    0.029514
10 - 14    0.038194
15 - 19    0.185764
20 - 24    0.447917
25 - 29    0.133681
30 - 34    0.090278
35 - 39    0.053819
40 +       0.020833
Name: SN, dtype: float64

In [33]:
age_df = pd.DataFrame({
    "Total Count": age_count,
    "Percentage of Players": pct_players
})
age_df

           Total Count  Percentage of Players
Age Group
 0 < 10             17               0.029514
10 - 14             22               0.038194
15 - 19            107               0.185764
20 - 24            258               0.447917
25 - 29             77               0.133681
30 - 34             52               0.090278
35 - 39             31               0.053819
40 +                12               0.020833

In [34]:
# Format to percentage
age_df.style.format({"Percentage of Players":"{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
# Recall variable for purchase_count and calculate by age_group
purchase_count = age_group["Purchase ID"]
purchase_count = purchase_count.count()
purchase_count

Age Group
 0 < 10     23
10 - 14     28
15 - 19    136
20 - 24    365
25 - 29    101
30 - 34     73
35 - 39     41
40 +        13
Name: Purchase ID, dtype: int64

In [36]:
# Recall variable for avg_price and calculate by age_group
avg_price = age_group["Price"].mean()
avg_price

Age Group
 0 < 10    3.353478
10 - 14    2.956429
15 - 19    3.035956
20 - 24    3.052219
25 - 29    2.900990
30 - 34    2.931507
35 - 39    3.601707
40 +       2.941538
Name: Price, dtype: float64

In [37]:
total_revenue = age_group["Price"].sum()
total_revenue

Age Group
 0 < 10      77.13
10 - 14      82.78
15 - 19     412.89
20 - 24    1114.06
25 - 29     293.00
30 - 34     214.00
35 - 39     147.67
40 +         38.24
Name: Price, dtype: float64

In [38]:
avg_purchase = total_revenue/age_count
avg_purchase

Age Group
 0 < 10    4.537059
10 - 14    3.762727
15 - 19    3.858785
20 - 24    4.318062
25 - 29    3.805195
30 - 34    4.115385
35 - 39    4.763548
40 +       3.186667
dtype: float64

In [39]:
age_df = pd.DataFrame({
    "Purchase (count)": purchase_count,
    "Purchase (avg)": avg_price,
    "Purchase (total)": total_revenue,
    "Purchase (avg per Age Group)": avg_purchase
})
age_df

,Purchase (count),Purchase (avg),Purchase (total),Purchase (avg per Age Group)
Age Group,,,,
0 < 10,23,3.353478,77.13,4.537059
10 - 14,28,2.956429,82.78,3.762727
15 - 19,136,3.035956,412.89,3.858785
20 - 24,365,3.052219,1114.06,4.318062
25 - 29,101,2.900990,293.00,3.805195
30 - 34,73,2.931507,214.00,4.115385
35 - 39,41,3.601707,147.67,4.763548
40 +,13,2.941538,38.24,3.186667

In [40]:
age_df.style.format({
    "Purchase (avg)":"${:,.2f}",
    "Purchase (total)":"${:,.2f}",
    "Purchase (avg per Age Group)":"${:,.2f}"
                         })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
# 1. GroupBy unique players i.e. "SN"
# 2. calculate purchase_count
# 3. calculate avg_price
# 4. Total purchase price

In [42]:
# 1. GroupBy unique players i.e. "SN"
player_group = purchase_data.groupby("SN")
player_group

In [43]:
# Recall purchase_count and calculate by player_group
purchase_count = player_group["Purchase ID"]
purchase_count = purchase_count.count()
purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [44]:
# Recall avg_price and calculate by player_group
avg_price = player_group["Price"].mean()
avg_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [45]:
# Recall total_revenue and calculate by player_group
total_revenue = player_group["Price"].sum()
total_revenue

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [46]:
# Recall avg_purchase and calculate by player_group
avg_purchase = total_revenue/player_count
avg_purchase

SN
Adairialis76     0.003958
Adastirin33      0.007778
Aeda94           0.008524
Aela59           0.007500
Aelaria33        0.003108
                   ...
Yathecal82       0.010799
Yathedeu43       0.010451
Yoishirrala98    0.007951
Zhisrisu83       0.013698
Zontibe81        0.013941
Name: Price, Length: 576, dtype: float64

In [47]:
# Create DataFrame for players_df
players_df = pd.DataFrame({
    "Purchase (count)": purchase_count,
    "Purchase (avg)": avg_price,
    "Purchase (total)": total_revenue,
})

# Sort from most to least
players_df = players_df.sort_values("Purchase (total)", ascending=False)
players_df

             Purchase (count)  Purchase (avg)  Purchase (total)
SN
Lisosia93                   5        3.792000             18.96
Idastidru52                 4        3.862500             15.45
Chamjask73                  3        4.610000             13.83
Iral74                      4        3.405000             13.62
Iskadarya95                 3        4.366667             13.10
...                       ...             ...               ...
Ililsasya43                 1        1.020000              1.02
Irilis75                    1        1.020000              1.02
Aidai61                     1        1.010000              1.01
Chanirra79                  1        1.010000              1.01
Alo38                       1        1.000000              1.00

[576 rows x 3 columns]

In [48]:
# Format columns to currency
players_df.style.format({
    "Purchase (avg)":"${:,.2f}",
    "Purchase (total)":"${:,.2f}",
})
# Display the top 5 players by purchase total
players_df.head(5)

             Purchase (count)  Purchase (avg)  Purchase (total)
SN
Lisosia93                   5        3.792000             18.96
Idastidru52                 4        3.862500             15.45
Chamjask73                  3        4.610000             13.83
Iral74                      4        3.405000             13.62
Iskadarya95                 3        4.366667             13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame